

$dark:            rgb(30,30,30);
$purple-dark:  #2d242d;
$purple-mid:    #8d558c;
$purple-light:  #cba4cd;

$navbar-dark-hover-color: $purple-mid;
$navbar-dark-active-color: $purple-mid;


$dropdown-bg:     $dark;
$dropdown-link-color:      $purple-mid;
$dropdown-link-hover-bg:   $purple-dark;
$dropdown-link-hover-color: $purple-light;
$dropdown-item-padding-y: 0.8rem;
$dropdown-divider-margin: 0;
$dropdown-font-size: 1rem;
$dropdown-border-width: 0;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

